.contacts {
    padding: 120px 0 90px 0;
    &__grid {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: minmax(auto, 400px) 585px;
        justify-content: space-between;
       
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    .title_fz16 {
       //position: relative;
        padding: 1px 0 0 12px;
        
    }
    &__text, &__social {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        img {
            max-width: 30px;
            max-height: 30px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 28px;
        label {
            position: absolute;
            height: 18px;
            padding: 0 8px;
            margin-bottom: 0;
            background-color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            display: block;
            top: -9px;
            left: 12px;
        }
    }
    &__triggers {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        //justify-content: space-between;
        column-gap: 35px;
        //align-content: center
    }
    &__policy {
        font-size: 12px;
        //line-height: 45px;
        font-weight: 500;
        display: flex;
        align-items: center;
        input {
            margin-right: 5px;
        }
    }
    &__input {
        position: relative;
        input   {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 500;
        }
    }
    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        textarea {
            width: 100%;
            height: 100%;
            padding: 20px;
            font-size: 12px;
            font-weight: 500;
            resize: none;
        }
    }
    .btn {
        border: none;
        //line-height: 25px;
    }
}
